{% extends "views/base.html" %}

{% block base_content %}

  <div class="hero-unit">
    <h1>Welcome to my blog</h1>
    <p>I write about things that interest me...</p>
  </div>
  
  <div class="row">
    <div class="span12">

      <div class="post">
        <h2>I Learned to Code! <small>12/9/2012</small></h2>
        <p>
          Well, maybe not *evertything*, but I'm off to a good start. Confident I could rebuild Tumblr in a manner of hours, but there's still more to go...
        </p>        
      </div>

      <div class="post">
          <h2>Signed Up for an Intelligently Class <small>10/1/2012</small></h2>
          <p>
            Something about coding. Expectations are low, but who knows, you can't beat the price and I hear there's free beer. Forecast says "rainy". I'm in!
          </p>        
        </div>
      
    </div>
  </div>

{% endblock %}